@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of DriverTracker.</p>
    <p><a asp-action="Index" asp-controller="Home">Return Home</a></a></p>
</header>