@{
    ViewData["Title"] = "Pickup Predictor";
}

<app-root></app-root>

<div>
    <a class="btn btn-default" asp-action="Index" asp-controller="Drivers">Drivers List</a>
</div>

@* Angular scripts *@
<script src="~/libs/runtime.js"></script>
<script src="~/libs/polyfills.js"></script>
<script src="~/libs/styles.js"></script>
<script src="~/libs/vendor.js"></script>
<script src="~/libs/main.js"></script>