<h2>Drivers</h2>

<form (ngSubmit)="onSubmit()" #driversForm="ngForm">
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                License Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let driver of drivers">
            <td [ngSwitch]="editing">
                <input type="text" class="form-control" id="name" required name="name_{{driver.driverID}}" [(ngModel)]="driver.name"
                 *ngSwitchCase="driver.driverID"/>
                <span *ngSwitchDefault>{{driver.name}}</span>
            </td>
            <td [ngSwitch]="editing">
                <input type="text" class="form-control" id="licenseNumber" required name="licenseNumber_{{driver.driverID}}" [(ngModel)]="driver.licenseNumber"
                       *ngSwitchCase="driver.driverID" />
                <span *ngSwitchDefault>{{driver.licenseNumber}}</span>
            </td>
            <td [ngSwitch]="editing">
                <span *ngSwitchCase="driver.driverID">
                    <button type="submit" class="btn btn-success" [disabled]="!driversForm.form.valid">Save</button>
                    <button type="button" class="btn" (click)="cancelEdit()">Cancel</button>
                </span>
                <span *ngSwitchDefault>
                    <a href="javascript:void(0);" (click)="editClicked(driver)">Edit</a> |
                    <a href="/Drivers/Details/{{driver.driverID}}">Details</a> |
                    <a href="javascript:void(0);" (click)="showDeleteConfirm(driver)">Delete</a>
                </span>
            </td>
        </tr>
        <tr *ngIf="adding; else addLink">
            <td>
                <input class="form-control" required #name />
            </td>
            <td>
                <input class="form-control" required #licenseNumber />
            </td>
            <td>
                <button type="submit" class="btn btn-success" [disabled]="!driversForm.form.valid" (click)="saveNew(name.value, licenseNumber.value); name.value=''; licenseNumber.value=''">Save</button>
                <button type="button" class="btn" (click)="cancelAdd()">Cancel</button>
            </td>
        </tr>
        <ng-template #addLink>
            <a href="javascript:void(0);" (click)="addNew()">New Driver</a>
        </ng-template>
    </tbody>
</table>
</form>