@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>
    ();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    }

    @if (showBanner)
    {
    <nav id="cookieConsent" class="navbar navbar-expand-lg navbar-dark bg-dark" role="alert">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></span>
        <div class="collapse navbar-collapse">
            <span class="navbar-text">
                (Company privacy and cookie policy)
            </span>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
            <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
    }
