@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    (Your company address here)
</address>

<address>
    (Company telephone and emails here)
</address>
