@model DriverTracker.Models.Leg

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Leg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DriverID" class="control-label"></label>
                <select asp-for="DriverID" class ="form-control" asp-items="ViewBag.DriverID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PreviousLegID" class="control-label"></label>
                <select asp-for="PreviousLegID" class="form-control" asp-items="ViewBag.PreviousLegID"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartAddress" class="control-label"></label>
                <input asp-for="StartAddress" class="form-control" />
                <span asp-validation-for="StartAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickupRequestTime" class="control-label"></label>
                <input asp-for="PickupRequestTime" class="form-control" />
                <span asp-validation-for="PickupRequestTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationAddress" class="control-label"></label>
                <input asp-for="DestinationAddress" class="form-control" />
                <span asp-validation-for="DestinationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fare" class="control-label"></label>
                <input asp-for="Fare" class="form-control" />
                <span asp-validation-for="Fare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfPassengersAboard" class="control-label"></label>
                <input asp-for="NumOfPassengersAboard" class="form-control" />
                <span asp-validation-for="NumOfPassengersAboard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
